.year-edit-container, .service-edit-container{
  background-color: #f5f5f5;
  border-radius: 0.75rem;
}


.available-year-container, .available-service-container{
  display: flex;
  .year, .service{
    background-color: #3d5872;
    padding: 0.25rem 2.75rem 0.25rem 1.25rem;
    border-radius: 1rem;
    margin-right: 6px;
  }

}

.btn-delete{
  background-color: #DC3545 !important;
  &:hover{
    background-color: #d82537 !important;
  }
}

.btn-disable{
  background-color: #b7ada1 !important;
  &:hover{
    background-color: #aea396 !important;
  }
}

.btn-delete, .btn-disable{
  padding: 0 0.25rem !important;
  height: 1.25rem;
  font-size: 10px
}