.filters, .service-list{
  background-color: #f5f5f5;
}

.filters{
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}

.service-list{
  border-bottom-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.btn-cancel{
  background-color: #DC3545 !important;
  &:hover{
    background-color: #d82537 !important;
  }
}