.navbar{
  position: sticky;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  .total-price-btn{
    position: relative;
    .total-price{
      position: absolute;
      top: 2px;
      right: 16px;
      background-color: white;
      padding: 0 0.25rem;
      border-radius: 0.5rem;
      font-size: 8px;
    }
  }

}